<div id="udvozlo">
  <h2>Welcome on the Page</h2>

  <section id="section">
    <nav>
      <img id="autokep" src="assets/auto.jpg">
    </nav>

    <article id="article">
      <h5>For information on the current sittuation with Covid-19 and Coronavirus please log in</h5>

      <button id="bejelentkezes" class="bejelentkezes" onClick=""><img src="assets/login.ico" a href="/login" routerLinkActive="active" />Login</button>
      <button id="Register" class="register" onClick=""><img src="assets/register.ico" />Register as a Partner</button>

      <div id="cetli">

      </div>

    </article>

  </section>
  <app-fooldallab></app-fooldallab>
</div>