legend{
    font-weight: bold;
    font-size: large;
    padding-top: 20px;
    padding-bottom: 10px;
}

.tblForm{
    border: 2px solid black;
    /* display: grid;
    grid-template-columns: 200px 200px 200px; */
}