<ul class="list-group">
    <li class="list-group-item">
        <a class="btn btn-primary" routerLink="/userHome/appSelector/userReg" routerLinkActive="active">Register User</a>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">
            Discription
        </button>
        <div class="collapse" id="collapseExample1">
            <div class="card card-body">
                Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
            </div>
        </div>
    </li>
</ul>