<div class="backgroundWrap">
    <div class="container">
        <header class="row">
            <h1>XY Company</h1>
            <div class="col-md-4 center-block companyIconLink">
                <img src="../../assets/images/google-earth.png" alt="Company Logo" width="50px" height="50px" class="center-block">
                <a href="https://www.flaticon.com/free-icons/google-earth" title="google earth icons" class="center-block">Google earth icons created by Freepik - Flaticon</a>
            </div>
            <nav class="navbar navbar-expand-sm"><button class="navbar-toggler" type="button" data-target="#navigation"> <span class="navbar-toggler-icon"></span> </button>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" routerLink="main">Selectin user home</a></li>
                        <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                          </button> -->
                        <li class="nav-item"><a class="nav-link" routerLink="appSelector/main">Ap selector nav </a></li>
                        <li class="nav-item"><a class="nav-link" (click)="quitClick()">Logout</a></li>
                    </ul>
                </div>
            </nav>
        </header>
    </div>
</div>