<nav id="menu">
    <ul class="navbar navbar.light">
        <li class="nav-item"><a href="/">Főoldal</a></li>
        <li class="nav-item"><a routerLink="/Cooperation">Cooperation</a></li>
        <li class="nav-item"><a routerLink="/reg">Partner registration</a></li>
        <li class="nav-item"><a href="/">Innovation</a></li>
        <li class="nav-item"><a href="/">Legal information</a></li>
        <li class="nav-item"><a href="/login">Support</a></li>
        <li class="nav-item"><a routerLink="/login" routerLinkActive="active">Login</a></li>
        <li class="nav-item"><a routerLink="/admin" routerLinkActive="active">Admin</a></li>
    </ul>

</nav>