<header>
    <h1 class="companyName">XY Company</h1>
    <div class="companyLogo">
        <img src="/images/google-earth.png" alt="Company Logo" width="50px" height="50px">
        <a href="https://www.flaticon.com/free-icons/google-earth" title="google earth icons">Google earth icons created by Freepik - Flaticon</a>
    </div>

    <nav class="mainNav">
        <li><a href="/">House Icon Index</a></li>
        <li><a href="/general/about">About Us</a></li>
        <li><a href="/general/contact">Contact us</a></li>
        <li class="legalInfo"> <a href="#">Legal Info</a>
            <ul class="legalNav">
                <li><a href="/general/legalinfo/privacy">Privacy Policy</a></li>
                <li><a href="/general/legalinfo/cookies">Cookie Guidelines</a></li>
                <li><a href="/general/legalinfo/impressum">Impressum</a></li>
            </ul>

        </li>
        <li><a href="/loginPage">Company Login</a></li>
    </nav>
</header>