<div>
    <form action="/userHome" class="userLogin" method="post">
        <label for="username">Username</label>
        <input type="text" name="username" id="username">
        <label for="password">Password</label>
        <input type="text" name="password" id="password">
        <a href="#">Forgot Password</a>
        <button type="button" class="submitBtn">Login</button>
    </form>
</div>