<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/stylesheets/globalStyles.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <title>
        <%= title %>
    </title>
    <base href="/userHome">
</head>

<body>
    <h1 class="companyName">XY Company</h1>
    <div class="companyLogo">
        <img src="/images/google-earth.png" alt="Company Logo" width="50px" height="50px">
        <a href="https://www.flaticon.com/free-icons/google-earth" title="google earth icons">Google earth icons created by Freepik - Flaticon</a>
    </div>
    <nav class="mainNav">
        <li><a href="/userHome">House Icon Index</a></li>
        <li class="legalInfo"> <a href="#">Legal Info</a>
            <ul class="legalNav">
                <li><a href="/general/legalinfo/privacy">Privacy Policy</a></li>
                <li><a href="/general/legalinfo/cookies">Cookie Guidelines</a></li>
                <li><a href="/general/legalinfo/impressum">Impressum</a></li>
            </ul>

        </li>
        <li><a href="#">App Explorer</a></li>
    </nav>

    <main>
        <section>
            <% for(const key in loginInfo) { %>
                <p>
                    <%= loginInfo[key]; %>
                </p>
                <% } %>
        </section>
        <section>Main Updates / Company News</section>
        <section>Apps and App Rights</section>
        <section>Contact Support</section>
    </main>

    <%- include("footer") %>

</body>

</html>