<p>child-dbs works!</p>

<form #formDbs="ngForm" (ngSubmit)="onSubmit(formDbs)">
    <h3>Manipulate Database</h3>

    <label for="dbsIn">Database Inputs:</label>
    <input type="text" [(ngModel)]="globalModel.dbsName" name="dbsInput" id="dbsIn" minlength="4" required>

    <label for="dbsCre">Create Database</label>
    <input type="radio" name="dbs1" id="dbsCre" value="create" [(ngModel)]="globalModel.dbsMethod" required>

    <label for="dbsDel">Delete Database</label>
    <input type="radio" name="dbs2" id="dbsDel" value="delete" [(ngModel)]="globalModel.dbsMethod" [disabled]="checktbl.checked ? true : false">

    <label for="dbsChe">Check Database If Exists</label>
    <input type="radio" name="dbs2" id="dbsChe" value="check" [(ngModel)]="globalModel.dbsMethod">

    <label for="dbsChe">Only Table or Data with provided DbsName</label>
    <input type="radio" name="dbs1" id="dbsChe" value="exists" [(ngModel)]="globalModel.dbsMethod">

    <br />
    <label for="tblCh">Check For Tables</label>
    <input type="checkbox" name="tblCheck" id="tblCh" ngModel (click)="forwardTbl(checktbl.checked, formDbs.form.valid)" #checktbl>

    <button type="submit" [disabled]="!formDbs.form.valid || globalModel.tblCheck">Submit</button>
</form>
<span *ngIf="formDbs.valid">VALID1</span>
<br />
<!-- {{formDbs.valid}} -->